a {
	color:black;
}

a#backhome {
	font-size:30px;
	font-weight:bold;
	float:left;
	letter-spacing: 4px;
	text-decoration:none;
	}
body {
	margin:0;
	font-family: Helvetica;
	background-image: url(wood.jpeg);
	background-repeat:no-repeat;
	letter-spacing: 2px;
}
/*remember that there's letter spacing
throughout the whole code*/

header {
	text-transform: uppercase;
	background-color: white;
	height:70px;
	box-sizing: border-box;
	padding-right: 20px;
	padding-left:20px;
	margin:0;
	overflow:auto;
}
/*overflow:auto makes the white 
background stay*/

a.menu {
	text-decoration: none;
	font-size:20px;
	color:#B0E0E6;
	padding-left:10px;
}

a:hover {
	color:#A9A9A9;
}
ul {
	list-style-type: none;
	margin:0;
	float:right;
	padding-top: 10px;
	padding-left: 0px;
}
li {
	display:inline;
}
/*this makes the menu horizontal*/

#social {
	display:inline;
	bottom:0;
	right: 0;
	position:fixed;
	width:13%;
	background-color:white;
	padding-top:10px;
	padding-left:10px;
	padding-bottom: 5px;
}

#github {
	padding-left:5px;
}

#container1 {
	margin:0 auto;
	padding-left:100px;
	padding-top:20px;
	padding-right:20px;
	padding-bottom:90px;
}
#container2 {
	margin:0 auto;
	padding-top:150px;
	padding-left:50px;
	border-width:10px;
}
#container3 {
	margin:0 auto;
}
#me {
	border-width:2px;
	border-style:solid;
	border-color:white;
	margin-top: 130px;
	margin-left:100px;
	float:left;
}
.homephoto {
	float:left;
	margin:10px;
	border-width:2px;
	border-style:solid;
	border-color:white;

}
.projdesc {
	background-color: white;
	opacity:0.9;
	width:500px;
	float:right;
	margin-left:50px;
	margin-top:50px;
	color:#A9A9A9;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:50px;
}
.project {
	display: inline-block;
	margin-top:40px;
}
.abouttext {
	background-color:white;
	color:#A9A9A9;
	padding:10px;
	margin-bottom:30px;
	margin-right:100px;
	opacity:0.9;
	
}
#about {
	float:right;
	width:600px;
	box-sizing: border-box;
	margin-top:110px;
	margin-right:40px;
	margin-left:10px;

}
#aboutonabout {
	color:#A9A9A9;
}
/*this is so that it shows it's
 on the about page*/
#contact {
	background-color: white;
	color:#A9A9A9;
	font-size:20px;
	width:31%;
	padding:20px;
	margin:0 auto;
	margin-top:80px;
	opacity:0.9;
}
#contactoncontact {
	color:#A9A9A9
}
/*this is so that it shows it's
 on the about page*/
